*{
	padding:0;
	margin:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
}
html,body{
	height: 100%;
}
.text-center{
	text-align: center !important;
}
.login-body{
	background:#f0f0f0 url(../images/bg1.png) no-repeat center center;
	background-color: #f0f0f0;
	background-size: cover;
}
.login-content{
	width: 300px;
	height: 160px;
	position: absolute;
	top:50%;
	left:50%;
	margin-top: -80px;
	margin-left: -150px;
}
.login-content .btn{
	margin-top: 25px;
}
.header{
	height: 80px;
	color:#fff;
	font-size: 24px;
	line-height: 80px;
	text-align: center;
	position: relative;
}
.header .logout{
	color:#bbb;
	text-decoration: none;
	position: absolute;
	font-size: 12px;
	line-height: 12px;
	right: 20px;
	bottom:15px;
}
.header .logout:hover{
	text-decoration: underline;
}
.content{
	margin:0 20px 20px;
}
.customer-table{
	width: 100%;
	border:1px solid #f0f0f0;
	box-shadow: 0 0 2px 1px rgba(0,0,0,.02);
	background-color: #fff;
	border-radius: 4px;
	overflow: hidden;
}
.customer-table th{
	padding: 8px 10px;
	color:#fff;
}
.customer-table td{
	padding: 8px 10px;
	color:#999;
}
.customer-table thead{
	background-color: #5cb85c;
}
.customer-table tbody tr:nth-child(even){
	background-color: #f7f7f7;
}
.a-link{
	font-size: 12px;
	line-height: 14px;
	margin-right: 10px;
}
.a-link.a-delete{
	color:#f40;
}
.side-nav h3{
	padding: 10px 15px;
	display: block;
	color:#fff;
	margin:0;
	font-size: 14px;
}
.side-nav a{
	padding: 10px 15px;
	display: block;
	color:#aaa;
	text-decoration: none;
}
.side-nav a:hover{
	color:#fff;
}
