*{
	padding:0;
	margin:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
}
html,body{
	height: 100%;
}
body{
	background:#f0f0f0 url(../images/bg1.png) no-repeat center center;
	background-color: #f0f0f0;
	background-size: cover;
	background-attachment: fixed;
	padding-top: 100px;
	min-width: 1024px;
}
li{
	list-style: none;
}
.text-center{
	text-align: center !important;
}
.login-content{
	width: 300px;
	height: 160px;
	position: absolute;
	top:50%;
	left:50%;
	margin-top: -80px;
	margin-left: -150px;
}
.login-content .btn{
	margin-top: 25px;
}
.header{
	position: fixed;
	overflow: hidden;
	height: 80px;
	width: 100%;
	left:0;
	top:0;
	-webkit-transition:background .3s ease-in,box-shadow .3s ease-in;
	-moz-transition:background .3s ease-in,box-shadow .3s ease-in;
	-ms-transition:background .3s ease-in,box-shadow .3s ease-in;
	-o-transition:background .3s ease-in,box-shadow .3s ease-in;
	transition:background .3s ease-in,box-shadow .3s ease-in;
	/*background-color: #4cae4c;*/
	/*background-image: -webkit-linear-gradient(top, #348C8F 0%, #50B8BC 20%, #68D7DB 100%);
    background-image: -moz-linear-gradient(top, #348C8F 0%, #50B8BC 20%, #68D7DB 100%);
    background-image: -ms-linear-gradient(top, #348C8F 0%, #50B8BC 20%, #68D7DB 100%);
    background-image: linear-gradient(top, #348C8F 0%, #50B8BC 20%, #68D7DB 100%);*/
    /*background-image: -webkit-linear-gradient(top, #1C5B29 0%, #34AA4B 20%, #34AA4B 97%, rgba(255,255,255,.5) 100%);*/
}
.header-bg{
	background: rgba(0,0,0,.7);
	box-shadow: 0 2px 2px rgba(0,0,0,.4);
}
.navigator{
	height: 35px;
	margin-top: 40px;
	float: left;
}
.navigator li{
	float: left;
	width: 100px;
}
.navigator li a{
	display: block;
	width: 100%;
	height: 35px;
	line-height: 35px;
	text-align: center;
	color:#fff;
	text-decoration: none;
	font-size: 14px;
	font-family: 'Microsoft YaHei';
}
.navigator li a:hover{
	color:#ccc;
}
.navigator li a.current{
	color:#5cb85c;
}
.logo{
	display: block;
	float: left;
	width: 189px;
	height: 60px;
	margin-top: 14px;
	margin-left: 30px;
	background: url(../images/logo.png);
}
.header .logout{
	color:#fff;
	text-decoration: none;
	position: absolute;
	font-size: 12px;
	line-height: 12px;
	right: 30px;
	bottom:13px;
}
.header .logout:hover{
	text-decoration: underline;
}
.content{
	padding: 0 30px 20px;
}
.content-r{
	padding-left: 190px;
}
.content-ri{
	width: 100%;
}
.customer-table{
	width: 100%;
	border:1px solid #f0f0f0;
	box-shadow: 0 0 2px 1px rgba(0,0,0,.02);
	background-color: #fff;
	border-radius: 4px;
	overflow: hidden;
}
.customer-table th{
	padding: 8px 10px;
	color:#666;
}
.customer-table td{
	padding: 8px 10px;
	color:#999;
}
.customer-table thead{
	background-color: #f0f0f0;
}
.customer-table tbody tr:nth-child(even){
	background-color: #f7f7f7;
}
.a-link{
	font-size: 12px;
	line-height: 14px;
	margin-right: 10px;
}
.a-link.a-delete{
	color:#f40;
}
.add-wrap{
	max-width: 800px;
	padding:20px;
	background-color: rgba(255,255,255,.85);
	border-radius: 6px;
}
.add-wrap label{
	color:#666;
}
.aside{
	border-radius: 4px;
	width: 200px;
	float: left;
	position: fixed;
	top:100px;
	bottom:0;
	left:0;
	padding-left: 30px;
	padding-right: 10px;

}
.aside-bg{
	background: rgba(0,0,0,.7);
	box-shadow: 2px 0 2px rgba(0,0,0,.4);
}
.user-wrap{
	width: 80%;
	margin: 0px auto 10px;
	border-radius: 50%;
	border:2px solid #fff;
	padding:5px;
	overflow: hidden;
}
.user{
	display: block;
	width: 100%;
	border-radius: 50%;
}
.ewm{
	display: block;
	width: 100%;
	border:1px solid #5cb85c;
	border-radius: 4px;
}
.side-nav {
    width: 100%;
    margin-top: 15px;
}
.side-nav h2 {
    display: block;
    height: 30px;
    line-height: 30px;
    /*background-color: #fff;*/
    text-align: center;
    border: 1px solid #fff;
    color: #fff;
    font-weight: bold;
    font-family: 'Microsoft YaHei';
    font-size: 16px;
    margin-bottom: 0;
}
.side-nav a {
    display: block;
    height: 30px;
    line-height: 30px;
    border: 1px solid #fff;
    color: #fff;
    /*background-color: #fff;*/
    text-decoration: none;
    padding-left: 30px;
    /*background-image: url(../images/kuz.ico);*/
    background-repeat: no-repeat;
    background-position: 10px center;
}
.side-nav a:hover{
	color:#5cb85c;
}
.side-line{
	height: 10px;
	background: url(../images/linkbg.gif) repeat-y top center;
}
.detail-cl{
	overflow: hidden;
}
.detail-cl label{
	display: block;
	width: 100px;
	float: left;
	line-height: 40px;
	margin:0;
	color:#999;
	min-height: 10px;
}
.detail-t{
	padding-left: 100px;
	line-height: 20px;
	padding:10px;
	font-size: 14px;
}
.btn-margin{
	margin-top: 40px;
}
.rtop{
	background-color: #fff;
	border-radius: 4px;
	padding:10px;
	margin-bottom: 10px;
	overflow: hidden;
}
.search-wrap{
	float: left;
}
.search-wrap .form-control{
	width: 150px;
	display: inline-block;
}
.bw-mt{
	margin-top: 40px;
}
.mar-r20{
	margin-right: 20px;
}
.form-group .form-textarea{
	resize:none;
	height: 100px;
}
.bg-f{
	background-color: #fff !important;
}







